---
const year = new Date().getFullYear();
---

<footer class="container">
  <hr />
  <p>
    &copy; {year} MolaVerse. All rights reserved.
  </p>
  <div>
    <a href="#" role="button" class="outline">Discord</a>
    <a href="#" role="button" class="outline">Twitter</a>
    <a href="#" role="button" class="outline">Telegram</a>
  </div>
</footer>
